apparmor==4.1.1
attrs==25.3.0
autocommand==2.2.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
docutils==0.21.2
filelock==3.18.0
idna==3.10
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
legacy-cgi==2.6.3
LibAppArmor==4.1.1
lit==20.1.0.dev0
MarkupSafe==3.0.2
more-itertools==10.7.0
nanobind==2.8.0
numpy==2.3.2
packaging==25.0
platformdirs==4.3.6
psutil==7.0.0
pybind11==3.0.0
pycparser==2.22
pygdbmi==0.11.0.0
PyOpenGL==3.1.7
PySide6==6.9.1
requests==2.32.4
sentry-sdk==2.33.2
setuptools==80.9.0
shiboken6==6.9.1
shiboken6-generator==6.9.1
smbus==1.1
TBB==0.2
ufw==0.36.2
urllib3==2.5.0
wheel==0.45.1
